<div class="container-fluid content">

<div class="row">
  <div class="screen1 col-md-6" style="margin-top: 6%;">
<div class="card-deck">
  <div class="col-md-6">
<div class="card">
 <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" class="img-fluid" />
        </a>
      </div>
        <p>hello</p>

      <div class="card">
 <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" class="img-fluid" />
        </a>
      </div>

</div>

<div class="screen1 col-md-6">
            <div class="card">
 <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" class="img-fluid" />
        </a>
      </div>

            <div class="card">
 <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" class="img-fluid" />
        </a>
      </div>
</div>
</div>
</div>



  <div class="screen2 column">

    <div class="navbar">
  <h1 class="logo"> PATRICIA VIDAL </h1>
</div>
 <ul id="myMenu">
  <li><a href="#">About me</a></li>
  <li><a href="#">Galeria</a></li>
  <li><a href="#">Galeria 2</a></li>
  <li><a href="#">Portatfolio</a></li>
  <li><a href="#">Contacto</a></li>
</ul>

  </div>
</div>
</div>

<style>
body{
  background-color: black;
  color:white;
}


.screen1 .screen2{
 height: 100vh;
 width: 100%;
}

.card {
  margin:5%;
}

.content{
 margin-top:5%;
 margin-left: 5%;
}
/*Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
  color:black;
}


  </style>
